<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#!/home"><i class="fa fa-home" aria-hidden="true"></i>
            Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/server1"><i class="fa fa-server" aria-hidden="true"></i>
            Server 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/server2"><i class="fa fa-server" aria-hidden="true"></i>
            Server 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/actions"><i class="fa fa-check-square-o" aria-hidden="true"></i>
            API Gateway Administration</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="loggedIn">
        <a id="logout" ng-click="logOut()">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </li>
    </ul>
    </div>
  </nav>
  </div>