<div class="container">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref="home">API key Demo</a></li>
                <li class="breadcrumb-item active">Server 2</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h1>{{username}} data in Service 2</h1>
                &nbsp;
        </div>
        <div class="col-xs-12">
                <!-- <div class="loader" ng-show="!showApiKeys"></div> -->
                <table id="server1data">
                    <tr align="center">
                        <th width="200">
                            <h5 align="center">anotherNumberData</h5>
                            
                        </th>
                        <th width="200">
                            <h5 align="center">anotherStringData</h5>
                           
                        </th>
                        <th width="200">
                            <h5 align="center">anotherBooleanData</h5>
                            
                        </th>
                    </tr>
                    <tr ng-repeat="document in server2Data">
                        <td  class="datacell" align="center">
                            {{document.anotherNumberData}}
                            
                        </td>
                        <td  class="datacell" align="center">
                            {{document.anotherStringData}}
                            
                        </td>
                        <td  class="datacell" align="center">
                            {{document.anotherBooleanData}}
                            
                        </td> 
                        <td>
                            <button id="btnRemove" class="btn btn-sm" ng-click="deleteDocument(document._id)">Delete</button>
                        </td>
                        <td>
                            <button id="btnEdit" class="btn btn-sm" ng-click="modifyAnotherDocument(document.anotherNumberData, document.anotherStringData, document.anotherBooleanData, document._id)">Modify</button>
                        </td>
                        
                    </tr>
                    
                </table> 
        </div>
    
        <div class="col-xs-6">
                <p style="padding:10px;"></p>
                 <button id="btnAdd" class="btn btn-sm" ng-click=addNewDocument()>Add new data</button>
        </div>
        <div class="col-xs-6">   
        </div>
    </div>