.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 0px 0px;
  background-color: #8d9f80;
    position: relative;
    bottom:0;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #bcded0;
  color: floralwhite;
}
.carousel {
  background: #1a237e;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
.navbar-inverse {
  background: #6c9181;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #dce6b2;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #6c9181;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #6c9181;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #dbdbac;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #dbdbac;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #dbdbac;
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  background: #6c9181;
  color: #efc75b;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #dbdbac;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #dbdbac;
  color: #ffffff;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  
  padding: 50px 0px 0px 0px;
  z-index: 0;
  background-size:cover;
}

.affix {
  top: 100px;
}



.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#register {
    text-align: center;
    color: blue;
    cursor: pointer;    
}

#register:hover {
    text-align: center;
    text-decoration: underline;
    
}
   
.apikeycell {
width: 500px;
word-break:break-word;
font-family: Courier;
}

.apikeydescriptioncell {
width: 250px;
word-break:break-word;
}

.th, td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#btnRemove{
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

#btnAdd{
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e4da5d;
	background-color:#e4da5d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #525820;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e4da5d;
}